.login-button
{
    background-color: #1f67b3;
    color:white;
    border-radius: 50px;
    font-size: 14px;
    padding: 8px 20px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.navbar
{
    background-color: white;
    height: 85px;
    margin: 20px;
    border-radius: 10px;
    padding: 0.7rem;
}

.login-button:hover
{
    background-color: #2080e8;
}   

.navbar-toggler
{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus
{
    box-shadow: none;
    outline: none;
}

.nav-link
{
    color: #666777;
    position: relative;
}

.nav-link:hover, .nav-link:active
{
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before
    {
        content: "";
        position:absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color:#2080e8;
        visibility: hidden;
        transition: 0,3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link:active::before
    {
        width: 100%;
        visibility: visible;
    }

}

.hero-section
{
    background: url(imgs/Water\ Day\ supremo.png) no-repeat center;
    background-size: cover;
    margin-top: 0px;
    width: 100%;
    height: 101vh;
}

.ajude1
{
    background-color: #1f67b3;
    color:white;
    border-radius: 50px;
    font-size: 26px;
    padding: 8px 20px;
    text-decoration: none;
    transition: 0.3s background-color;
    position: absolute;
    z-index: 1;
}

@media all and (max-width: 1272px){
    .hero-section{    
        background-image: url(/imgs/energia-das-mares.png);
}
}

@media all and (max-width: 1272px){
    .hero-section{    
        background-image: url(imgs/ENERGIA\ DAS\ MARÉS.png);
}
}

@media screen and (max-width: 991px){
    .logo
    {
        margin-top: -12px;
    }
}